absl-py
astor
backports.weakref
bleach
enum34
funcsigs
futures
gast
grpcio
h5py
html5lib
Keras
linecache2
Markdown
mock
numpy
pbr
pip
protobuf
PyYAML
setuptools
scipy
six
tensorboard
termcolor
tqdm
traceback2
unittest2
Werkzeug
wheel
